.error {
    color: red;
    font-size: 0.875rem;
    margin: 10px auto 20px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ffe6e6;
    max-width: 1280px;
}